# exercise with pandas

every "..." should be replaced with a line of code

In [1]:
import pandas as pd
import os
puidata = os.getenv("PUIDATA")
if puidata is None:
    os.environ["PUIDATA"] = "%s/PUIdata"%os.getenv("HOME") 
    puidata =os.getenv("PUIDATA")

Read what the PLUTO data is [here](https://www.wired.com/2013/08/nyc-pluto-data-map-party/)

Find the PLUTO dataset online, find the cvs file data (not the shape file), it should be about 46M

Download it as a zip file, unpack it in PUIDATAEach borough will be in a different file. The goal is to find land plot categories of which there is a higher number in Manhattan (MN) than in Brooklyn (BK)

Read in csv data as pandas dataframes (with pd.read_csv() )

In a Pandas DataFrame each column is a _series_ (a pandas datatype) to manipulate the data here you will mostly use methods (functions that are defined for a specific datatype and invoked with the _object.method()_ syntax) of the DataFrames (e.g. df.groupby() ) or of the series therein (e.g. series.astype() )

In [2]:
!curl https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v1.zip > nyc_pluto_18v1.zip
!unzip nyc_pluto_18v1.zip
!mv PLUTO_for_WEB ~/PUIdata/

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 46.0M  100 46.0M    0     0  80.7M      0 --:--:-- --:--:-- --:--:-- 80.7M
Archive:  nyc_pluto_18v1.zip
  inflating: PLUTO_for_WEB/BK_18v1.csv
  inflating: PLUTO_for_WEB/BX_18v1.csv
  inflating: PLUTO_for_WEB/MN_18v1.csv
  inflating: PLUTO_for_WEB/PLUTODD18v1.pdf
  inflating: PLUTO_for_WEB/PlutoReadme18v1.pdf
  inflating: PLUTO_for_WEB/QN_18v1.csv
  inflating: PLUTO_for_WEB/SI_18v1.csv

In [3]:
mn = pd.read_csv("%s/PLUTO_for_WEB/MN_18v1.csv"% os.getenv( "PUIDATA"))
bk = pd.read_csv("%s/PLUTO_for_WEB/BK_18v1.csv"% os.getenv( "PUIDATA"))

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (20,23,24,26,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## show the first 10 lines of each df

In [4]:
# show manhatta 10 rows
mn.head(10)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,MN,1,10,101,5.0,1011.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
1,MN,1,101,101,1.0,1001.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
2,MN,1,201,101,1.0,1000.0,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,1 99 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,MN,2,1,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
6,MN,2,2,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,11N 100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
7,MN,2,3,101,9.0,NaN,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
8,MN,2,23,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,MN,3,1,101,319.0,1000.0,2.0,1.0,10004.0,L015,...,NaN,101S087,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [5]:
# show brooklyn 10 rows
bk.head(10)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BK,1,1,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,11/26/2013,1,1.0,1.0,18V1
1,BK,1,50,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
2,BK,1,7501,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,03/04/2016,1,1.0,1.0,18V1
3,BK,3,1,302,21.0,3002.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
4,BK,3,5,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,BK,3,35,302,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,302 007,3.0,NaN,NaN,NaN,5,NaN,NaN,18V1
6,BK,5,1,302,21.0,3001.0,13.0,33.0,11201.0,L118,...,NaN,302 008,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
7,BK,5,8,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,300 000,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
8,BK,6,1,302,21.0,3000.0,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,BK,6,10,302,21.0,NaN,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

## display all columns in each file

In [6]:
# show bk
bk.columns

Index([u'Borough', u'Block', u'Lot', u'CD', u'CT2010', u'CB2010',
       u'SchoolDist', u'Council', u'ZipCode', u'FireComp', u'PolicePrct',
       u'HealthCenterDistrict', u'HealthArea', u'SanitBoro', u'SanitDistrict',
       u'SanitSub', u'Address', u'ZoneDist1', u'ZoneDist2', u'ZoneDist3',
       u'ZoneDist4', u'Overlay1', u'Overlay2', u'SPDist1', u'SPDist2',
       u'SPDist3', u'LtdHeight', u'SplitZone', u'BldgClass', u'LandUse',
       u'Easements', u'OwnerType', u'OwnerName', u'LotArea', u'BldgArea',
       u'ComArea', u'ResArea', u'OfficeArea', u'RetailArea', u'GarageArea',
       u'StrgeArea', u'FactryArea', u'OtherArea', u'AreaSource', u'NumBldgs',
       u'NumFloors', u'UnitsRes', u'UnitsTotal', u'LotFront', u'LotDepth',
       u'BldgFront', u'BldgDepth', u'Ext', u'ProxCode', u'IrrLotCode',
       u'LotType', u'BsmtCode', u'AssessLand', u'AssessTot', u'ExemptLand',
       u'ExemptTot', u'YearBuilt', u'YearAlter1', u'YearAlter2', u'HistDist',
       u'Landmark', u'BuiltFAR', u'ResidFAR', u'CommFAR', u'FacilFAR',
       u'BoroCode', u'BBL', u'CondoNo', u'Tract2010', u'XCoord', u'YCoord',
       u'ZoneMap', u'ZMCode', u'Sanborn', u'TaxMap', u'EDesigNum', u'APPBBL',
       u'APPDate', u'PLUTOMapID', u'FIRM07_FLAG', u'PFIRM15_FLAG', u'Version'],
      dtype='object')

In [7]:
# show mn
mn.columns

Index([u'Borough', u'Block', u'Lot', u'CD', u'CT2010', u'CB2010',
       u'SchoolDist', u'Council', u'ZipCode', u'FireComp', u'PolicePrct',
       u'HealthCenterDistrict', u'HealthArea', u'SanitBoro', u'SanitDistrict',
       u'SanitSub', u'Address', u'ZoneDist1', u'ZoneDist2', u'ZoneDist3',
       u'ZoneDist4', u'Overlay1', u'Overlay2', u'SPDist1', u'SPDist2',
       u'SPDist3', u'LtdHeight', u'SplitZone', u'BldgClass', u'LandUse',
       u'Easements', u'OwnerType', u'OwnerName', u'LotArea', u'BldgArea',
       u'ComArea', u'ResArea', u'OfficeArea', u'RetailArea', u'GarageArea',
       u'StrgeArea', u'FactryArea', u'OtherArea', u'AreaSource', u'NumBldgs',
       u'NumFloors', u'UnitsRes', u'UnitsTotal', u'LotFront', u'LotDepth',
       u'BldgFront', u'BldgDepth', u'Ext', u'ProxCode', u'IrrLotCode',
       u'LotType', u'BsmtCode', u'AssessLand', u'AssessTot', u'ExemptLand',
       u'ExemptTot', u'YearBuilt', u'YearAlter1', u'YearAlter2', u'HistDist',
       u'Landmark', u'BuiltFAR', u'ResidFAR', u'CommFAR', u'FacilFAR',
       u'BoroCode', u'BBL', u'CondoNo', u'Tract2010', u'XCoord', u'YCoord',
       u'ZoneMap', u'ZMCode', u'Sanborn', u'TaxMap', u'EDesigNum', u'APPBBL',
       u'APPDate', u'PLUTOMapID', u'FIRM07_Flag', u'PFIRM15_Flag', u'Version'],
      dtype='object')

# drop all columns but ZipCode and LandUse

In [8]:
# drop columns here. Use the .drop method of pandas dataframes, i.e. something like bk.drop()... 
# make sure you drop "in place" and that you drop along the right axis - i.e. the columns. 
# you can use bk.drop? to the help with this function 
mn = mn.drop(['Borough', u'Block', u'Lot', u'CD', u'CT2010', u'CB2010',
       u'SchoolDist', u'Council', u'FireComp', u'PolicePrct',
       u'HealthCenterDistrict', u'HealthArea', u'SanitBoro', u'SanitDistrict',
       u'SanitSub', u'Address', u'ZoneDist1', u'ZoneDist2', u'ZoneDist3',
       u'ZoneDist4', u'Overlay1', u'Overlay2', u'SPDist1', u'SPDist2',
       u'SPDist3', u'LtdHeight', u'SplitZone', u'BldgClass',
       u'Easements', u'OwnerType', u'OwnerName', u'LotArea', u'BldgArea',
       u'ComArea', u'ResArea', u'OfficeArea', u'RetailArea', u'GarageArea',
       u'StrgeArea', u'FactryArea', u'OtherArea', u'AreaSource', u'NumBldgs',
       u'NumFloors', u'UnitsRes', u'UnitsTotal', u'LotFront', u'LotDepth',
       u'BldgFront', u'BldgDepth', u'Ext', u'ProxCode', u'IrrLotCode',
       u'LotType', u'BsmtCode', u'AssessLand', u'AssessTot', u'ExemptLand',
       u'ExemptTot', u'YearBuilt', u'YearAlter1', u'YearAlter2', u'HistDist',
       u'Landmark', u'BuiltFAR', u'ResidFAR', u'CommFAR', u'FacilFAR',
       u'BoroCode', u'BBL', u'CondoNo', u'Tract2010', u'XCoord', u'YCoord',
       u'ZoneMap', u'ZMCode', u'Sanborn', u'TaxMap', u'EDesigNum', u'APPBBL',
       u'APPDate', u'PLUTOMapID', u'FIRM07_Flag', u'PFIRM15_Flag', u'Version'], axis=1)
mn.head()

   ZipCode  LandUse
0  10004.0      8.0
1  10004.0      8.0
2  10004.0      NaN
3  10004.0      7.0
4  10004.0      7.0

In [9]:
# drop columns here...
bk = bk.drop([u'Borough', u'Block', u'Lot', u'CD', u'CT2010', u'CB2010',
       u'SchoolDist', u'Council', u'FireComp', u'PolicePrct',
       u'HealthCenterDistrict', u'HealthArea', u'SanitBoro', u'SanitDistrict',
       u'SanitSub', u'Address', u'ZoneDist1', u'ZoneDist2', u'ZoneDist3',
       u'ZoneDist4', u'Overlay1', u'Overlay2', u'SPDist1', u'SPDist2',
       u'SPDist3', u'LtdHeight', u'SplitZone', u'BldgClass',
       u'Easements', u'OwnerType', u'OwnerName', u'LotArea', u'BldgArea',
       u'ComArea', u'ResArea', u'OfficeArea', u'RetailArea', u'GarageArea',
       u'StrgeArea', u'FactryArea', u'OtherArea', u'AreaSource', u'NumBldgs',
       u'NumFloors', u'UnitsRes', u'UnitsTotal', u'LotFront', u'LotDepth',
       u'BldgFront', u'BldgDepth', u'Ext', u'ProxCode', u'IrrLotCode',
       u'LotType', u'BsmtCode', u'AssessLand', u'AssessTot', u'ExemptLand',
       u'ExemptTot', u'YearBuilt', u'YearAlter1', u'YearAlter2', u'HistDist',
       u'Landmark', u'BuiltFAR', u'ResidFAR', u'CommFAR', u'FacilFAR',
       u'BoroCode', u'BBL', u'CondoNo', u'Tract2010', u'XCoord', u'YCoord',
       u'ZoneMap', u'ZMCode', u'Sanborn', u'TaxMap', u'EDesigNum', u'APPBBL',
       u'APPDate', u'PLUTOMapID', u'FIRM07_FLAG', u'PFIRM15_FLAG', u'Version'], axis=1)
bk.head()

   ZipCode  LandUse
0  11201.0     11.0
1  11201.0      5.0
2  11201.0      4.0
3  11201.0      7.0
4  11201.0      7.0

# use groupby to count the building per LandUse code

In [10]:
# group Manhattan by land use. Make sure you understand how to use the groupby() method:
# this method returns a group object. those objects have methods and some of these methods return dataframes. 
# What do you want to do? you want to count all objects per each land use type. 
# So you want to use .groupby() to group by LandUse and then .count() to get the number of element per LandUse
# Other methods include .mean() to get the mean of a group, .std(), 
# and a generic method .apply() to which you can pass any function that operates on a column.
# All these methods return dataframes 
# (hint: use also reset_index) for each df
mngrouped = mn.groupby([mn['LandUse']]).count().reset_index()
mngrouped

    LandUse  ZipCode
0       1.0     4019
1       2.0    16246
2       3.0     4881
3       4.0     7238
4       5.0     4465
5       6.0      726
6       7.0      386
7       8.0     2456
8       9.0      434
9      10.0      679
10     11.0     1199

In [11]:
# group BK by land use

bkgrouped = bk.groupby([bk['LandUse']]).count().reset_index()
bkgrouped

    LandUse  ZipCode
0       1.0   156271
1       2.0    66358
2       3.0     3437
3       4.0    22515
4       5.0     5743
5       6.0     4434
6       7.0     1040
7       8.0     4330
8       9.0      872
9      10.0     4229
10     11.0     6298

# convert the landuse to integer

In [12]:
# convert LandUse to int using the .astype() method of the series
bkgrouped['LandUse'] = bkgrouped['LandUse'].astype(int)
mngrouped['LandUse'] = mngrouped['LandUse'].astype(int)
bkgrouped

    LandUse  ZipCode
0         1   156271
1         2    66358
2         3     3437
3         4    22515
4         5     5743
5         6     4434
6         7     1040
7         8     4330
8         9      872
9        10     4229
10       11     6298

# merge the dataframes on land use

In [13]:
# merge the dataframes on LandUse. You can use the pandas function merge ( _pd.merge)
#both = mngrouped.merge(bkgrouped, left_on='LandUse', right_on='LandUse', how='outer')
both = mngrouped.merge(bkgrouped, on="LandUse")
both.columns

Index([u'LandUse', u'ZipCode_x', u'ZipCode_y'], dtype='object')

# rename things so that you have descriptive names

## rename the columns with descriptive names.

In [14]:
# Use the df.rename() method (hint: it takes a dictionary)
# now you can just call "both" instead of "both.head()" since the file should only have 11 columns
both = both.rename(columns={"ZipCode_x": "Manhattan", "ZipCode_y": "Brooklyn"})
both

    LandUse  Manhattan  Brooklyn
0         1       4019    156271
1         2      16246     66358
2         3       4881      3437
3         4       7238     22515
4         5       4465      5743
5         6        726      4434
6         7        386      1040
7         8       2456      4330
8         9        434       872
9        10        679      4229
10       11       1199      6298

## find online the LandUse data dictionary and replace code w the verbose description of it

In [15]:
# set up Land Use values to descriptive tag
both['LandUse'] = ['One &Two Family Buildings', 'Multi-Family Walk-Up Buildings','Multi-Family Elevator Buildings',
'Mixed Residential & Commercial Buildings', 'Commercial & Office Buildings', 'Industrial & Manufacturing',
'Transportation & Utility','Public Facilities & Institutions','Open Space & Outdoor Recreation',
'Parking Facilities','Vacant Land']

both

                                     LandUse  Manhattan  Brooklyn
0                  One &Two Family Buildings       4019    156271
1             Multi-Family Walk-Up Buildings      16246     66358
2            Multi-Family Elevator Buildings       4881      3437
3   Mixed Residential & Commercial Buildings       7238     22515
4              Commercial & Office Buildings       4465      5743
5                 Industrial & Manufacturing        726      4434
6                   Transportation & Utility        386      1040
7           Public Facilities & Institutions       2456      4330
8            Open Space & Outdoor Recreation        434       872
9                         Parking Facilities        679      4229
10                               Vacant Land       1199      6298

# create a feature (a column, a series) with the ratio of number of buildings in BK vs MN and find out in which LandUse class Manhattan has more buildings than BK

In [16]:
# calculate the ratio of BK to Man buildings per LandUse category
both['luration'] = both.Brooklyn/both.Manhattan 
both

                                     LandUse  Manhattan  Brooklyn   luration
0                  One &Two Family Buildings       4019    156271  38.883055
1             Multi-Family Walk-Up Buildings      16246     66358   4.084575
2            Multi-Family Elevator Buildings       4881      3437   0.704159
3   Mixed Residential & Commercial Buildings       7238     22515   3.110666
4              Commercial & Office Buildings       4465      5743   1.286226
5                 Industrial & Manufacturing        726      4434   6.107438
6                   Transportation & Utility        386      1040   2.694301
7           Public Facilities & Institutions       2456      4330   1.763029
8            Open Space & Outdoor Recreation        434       872   2.009217
9                         Parking Facilities        679      4229   6.228277
10                               Vacant Land       1199      6298   5.252711

In [17]:
# defined function that returns True if the ratio is larger than 0, False otherwise. 
# Use the series.apply() method to apply that function to the luratio series you jusrt created
def ManMoreBuidling(r):
    return r<1
both['Manhattan has more buildings']=both.luration.apply(ManMoreBuidling)
both

,LandUse,Manhattan,Brooklyn,luration,Manhattan has more buildings
0,One &Two Family Buildings,4019,156271,38.883055,False
1,Multi-Family Walk-Up Buildings,16246,66358,4.084575,False
2,Multi-Family Elevator Buildings,4881,3437,0.704159,True
3,Mixed Residential & Commercial Buildings,7238,22515,3.110666,False
4,Commercial & Office Buildings,4465,5743,1.286226,False
5,Industrial & Manufacturing,726,4434,6.107438,False
6,Transportation & Utility,386,1040,2.694301,False
7,Public Facilities & Institutions,2456,4330,1.763029,False
8,Open Space & Outdoor Recreation,434,872,2.009217,False
9,Parking Facilities,679,4229,6.228277,False
10,Vacant Land,1199,6298,5.252711,False

# comment on what you found out. Does it make sense?

### The result turns out that Manhattan only has more Multi-Family Elevator Buildings than Brooklyn, and Brooklyn has more for all other types of buildings. It does not make sense at first when thinking of Manhattan has fewer buildings than Brooklyn. But when considering the size of  Brooklyn, and the features of Manhattan(denser and richer lifestyle), it makes sense for Manhattan have more Elevator buildings, and Brooklyn has more other types of buildings.